.searchBar {
  background-color: rgba(150, 150, 150, 0.4);
  height: 52px;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: large;
  padding-left: 10px;

  &::placeholder {
    color: lightgray;
  }
}
