@import "../../style/index.scss";

.title {
  color: #ffffff;
  font-size: 3em;
  font-weight: normal;
}

.searchButton {
  background-color: $purpleColor;
  color: #fff;
  min-width: 200px;
  height: 54px;
  border: none;
  border-radius: 2px;
  font-size: 1.3em;
  margin-left: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    background-color: $purpleColor;
  }
}

.searchArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
