@import "../../style/index.scss";

.navbar {
  width: 100%;
  min-height: 60px;
  background-color: $lightBlackColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: $purpleColor;
  background-color: $lightBlackColor;
  border: 1px solid $purpleColor;
  font-weight: bold;
  font-family: "SourceSansPro";
  font-size: 1.2em;
  margin-right: 5px;

  &:hover {
    background-color: $darkGreyColor;
  }
}

.logoImage {
  position: fixed;
  top: 10px;
  left: 10px;
}

.icon {
  color: $purpleColor;
  cursor: pointer;
}
