.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tab {
  color: white;
}

.sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;

  .sortByText {
    color: #424242;
    margin-right: 10px;
  }

  .sortByOption {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1em;

    &:focus {
      background-color: #424242;
      border: none;
    }
  }
}
