body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  width: 100%;
  background-color: #232323;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.container {
  position: relative;
  background-image: url("../../asset//images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.blur {
  background-color: rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(4px);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-height: 60vh;
  background-color: white;
  padding: 16px 32px 24px;
}
