body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  width: 100%;
  background-color: #232323;
}

.container {
  position: relative;
  background-image: url("../../asset//images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.blur {
  background-color: rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(4px);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 3em;
  font-weight: normal;
}

.searchButton {
  background-color: #f65261;
  color: #fff;
  min-width: 200px;
  height: 54px;
  border: none;
  border-radius: 2px;
  font-size: 1.3em;
  margin-left: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    background-color: #f65261;
  }
}

.searchArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-height: 60vh;
  background-color: white;
  padding: 16px 32px 24px;
}
